.header {
	margin: 0px;
	padding: 20px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
  	background: #f6f6f6;
	text-align: center;
}

/* Container of portrait img in index */
.mainport {
	display: block;
	padding-top: 55px;
	padding-bottom: 15px;
	margin: 0px;
	width: 100%;
	text-align: center;
}

/* Actual portrait img */
.mainport img {
	height: 20.5%;
	width: 20.5%;
	border: 5px solid #f6f6f6;
}

body {
	margin: 0px;
        background-color: #99ced4;
	text-align: center;
}

#index, #resume, #about .bodytxt {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	color: #f0f0f0;
}

/* Sticky header, for mobile for now */
.sticky {
        position: fixed;
        top: 0;
        width = 100%;
}

.sticky + .bodytxt {
	padding-top: 102px;
}

.mainbody, .aboutbody {
	display: block;
        margin-left: 30%;
	margin-right: 30%;
        width: 40%;
	margin-bottom: 12%;
	height: 88%;
        text-align: center;
}

.aboutbody {
	margin-top: 7%;
}

.aboutbody a {
	font-family: Verdana, Geneva, sans-serif;
	position: relative;
	font-size: 20px;
        color: #4a6e9d;
	text-decoration: none;
}

.aboutbody a:hover {
	color: #5179ad;
}

.header a {
	margin: 1.25%;
	position: relative;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	color: #8a8690;
	text-decoration: none;
}

.header a:visited {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 20px;
        color: #8a8690;
}

/* Animated underline in header links upon hover */
.header a:before {
	content: "";
  	position: absolute;
  	width: 100%;
 	height: 2px;
 	bottom: 0;
  	left: 0;
 	background-color: #efb6b5;
  	visibility: hidden;
  	-webkit-transform: scaleX(0);
  	transform: scaleX(0);
  	-webkit-transition: all 0.3s ease-in-out 0s;
  	transition: all 0.3s ease-in-out 0s;
}

.header a:hover:before {
	visibility: visible;
  	-webkit-transform: scaleX(1);
 	transform: scaleX(1);
}

/* Highlight turns text white & highlight pink */
::-moz-selection {
  color: white;
  background: #efb6b5;
}

::selection {
  color: white;
  background: #efb6b5;
}

/* Prevent scroll */
html, body {
    overflow: hidden;
}
