.header {
	margin: 0px;
	padding: 20px 28px;
	width: 100%;
  	background: #f6f6f6;
	text-align: center;
}

.mainport, .aboutport {
	display: block;
	padding-top: 50px;
	padding-bottom: 15px;
	margin: 0px;
	width: 100%;
	text-align: center;
}

.mainport img {
	height: 20.5%;
	width: 20.5%;
	border: 5px solid #f6f6f6;
}

.aboutport img {
	height: 35%;
	width: 35%;
	border: 5px solid #f6f6f6;
}

body {
	margin: 0px;
        background-color: #99ced4;
}

#index, #resume, #about .bodytxt {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	color: #8a8690;
}

.sticky {
        position: fixed;
        top: 0;
        width = 100%;
}

.sticky + .bodytxt {
	padding-top: 102px;
}

.mainbody, .aboutbody {
	display: block;
        margin: 0px;
        width: 100%;
        text-align: center;
}

.header a {
	margin: 20px;
	position: relative;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 26px;
	color: #8a8690;
	text-decoration: none;
}

.header a:visited {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 26px;
        color: #8a8690;
}

.header a:before {
	content: "";
  	position: absolute;
  	width: 100%;
 	height: 2px;
 	bottom: 0;
  	left: 0;
 	background-color: #efb6b5;
  	visibility: hidden;
  	-webkit-transform: scaleX(0);
  	transform: scaleX(0);
  	-webkit-transition: all 0.3s ease-in-out 0s;
  	transition: all 0.3s ease-in-out 0s;
}

.header a:hover:before {
	visibility: visible;
  	-webkit-transform: scaleX(1);
 	transform: scaleX(1);
}

::-moz-selection {
  color: white;
  background: #efb6b5;
}

::selection {
  color: white;
  background: #efb6b5;
}
