.header {
	margin: 0px;
	padding: 20px 28px;
	width: 100%;
  	background: #f6f6f6;
	text-align: center;
}

img {
	display: block;
	height: 504px;
	width: 378px;
}

body {
	margin: 0px;
        background-color: #99ced4;
}

#index, #resume, #about .bodytxt {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	color: #8a8690;
}

.sticky {
        position: fixed;
        top: 0;
        width = 100%;
}

.sticky + .bodytxt {
	padding-top: 102px;
}

a {
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 26px;
	color: #8a8690;
	text-decoration: none;
}

a:visited {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 26px;
        color: #8a8690;
}

a:before {
	content: "";
  	position: absolute;
  	width: 100%;
 	height: 2px;
 	bottom: 0;
  	left: 0;
 	background-color: #efb6b5;
  	visibility: hidden;
  	-webkit-transform: scaleX(0);
  	transform: scaleX(0);
  	-webkit-transition: all 0.3s ease-in-out 0s;
  	transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
	visibility: visible;
  	-webkit-transform: scaleX(1);
 	transform: scaleX(1);
}

::-moz-selection {
  color: white;
  background: #efb6b5;
}

::selection {
  color: white;
  background: #efb6b5;
}
